@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* Variables */

    /* Primaries Colors */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    /* Accents Colors */
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    /* Neutrals Colors */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);

    /* Fonts */
    --headings-font: 'Raleway', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

*{
    margin: 0px;
    box-sizing: border-box;
  }

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    justify-content: center;
    align-items: center;
  }

  .body-style {
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .navbar {
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    padding: 30px 150px 30px 150px;
  }

 
  .menus {
  display: flex;
  font-family: var(--headings-font);
  font-weight: bold;
  color: var(--very-dark-blue);
  }

  .menus ul li a {
    text-decoration: none;
  }

  .menus ul > li {
    display: inline-block;
    margin-left: 50px;
  }

  .top-container {
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 150px 15px 150px;
  }

  .top-container-left {
    width: 50%;
    padding: 25px 0 25px 0;
  }

  .top-container-left h1 {
    font-family: var(--headings-font);
    margin-bottom: 25px;
    color: var(--very-dark-blue);
    font-size: 36px;
  }

  .top-container-left p {
    font-family: var(--body-font);
    color: var(--very-dark-blue);
    font-size: 17px;
    font-weight: bold;
  }

  .top-container-right {
    width: 50%;
    height: 450px;
    background: url('./images/illustration-1.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .form-get-started {
    padding-top: 20px;
  }

  .form-get-started input {
    margin-right: 15px;
    width: 300px;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--light-gray);
    border-radius: 3px;
   
  }


  .form-get-started button {
    height: 40px;
    width: 175px;  
    background-color: var(--bright-blue);
    border: 1px solid var(--bright-blue);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 6px 0 hsl(71, 13%, 59%);
}

.form-get-started button:hover {
    cursor: pointer;
    color: #fff;
    border: 1px solid hsla(224, 93%, 58%, 0.678);
    background-color: hsla(224, 93%, 58%, 0.678);
    transition: ease-in;
    transition-delay: 0.3;
}

.curve-bg {
    width: 100%;
    background: url('./images/bg-curve-desktop.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-image: 100%;
    background-size: cover;
    height: 130px;
    display: flex;
}

.middle-body {
    width: 100%;
    background-color: var(--light-grayish-blue);
}

.mid-container {
    display: flex;
    width: 100vw;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 150px 80px 150px;
    background-color: var(--light-grayish-blue);
  }

  .mid-container-left {
    width: 60%;
    padding: 25px 0 25px 0;
  }

  .mid-container-left h2 {
    font-family: var(--headings-font);
    margin-bottom: 25px;
    color: var(--very-dark-blue);
    font-size: 36px;
  }

  .mid-container-left-inset {
    font-family: var(--body-font);
    color: var(--very-dark-blue);
    font-size: 17px;
    font-weight: bold;
    padding-right: 100px;
  }

  .mid-container-left-link {
    display: flex;
    border-bottom: 1px solid var(--moderate-cyan);
    font-family: var(--body-font);
    font-weight: bold;
    padding-bottom: 4px;
    font-size: 17px;
    width: 28%;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .mid-container-left-link img {
    height: 20px;
    width: 20px;
    margin-left: 10px;
  }

  .mid-container-left-link a {
    color: var(--moderate-cyan);
    font-family: var(--body-font);
    text-decoration: none;
  }

  .mid-container-right {
    width: 40%;
    height: 450px;
    background: url('./images/illustration-2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .quote-container {
    background-color: #ffffff;
    width: 58%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgb(233, 226, 226);
    margin-top: 40px;
    padding: 30px 40px 30px 30px;
  }

  .quote-container p {
    margin-top: 10px;
    font-family: var(--body-font);
    font-size: 15px;
    line-height: 1.5;
    color: var(--very-dark-blue);
    font-weight: bold;
    margin-bottom: 10px;
  }

  .quoter-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    padding-top: 10px;
  }

  .quoter {
    justify-content: center;
    align-items: center;
  }

  .quoter img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .quotes {
    padding-left: 10px;

    justify-content: center;
    align-items: center;
  }

  .quoters-name {
    font-family: var(--headings-font);
    color: var(--very-dark-blue);
    font-size: 16px;
    font-weight: bold;
  }

  .quoters-title {
    font-family: var(--body-font);
    color: var(--desaturated-blue);
    font-size: 12px;
    font-weight: bold;
  }

  .newsletter-body {
    width: 100%;
    background-color: var(--desaturated-blue);
  }
 
  .newsletter-container {
    display: flex;
    width: 100vw;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 100px 150px 100px 150px;
    color: #fff;
  }
 
  .newsletter-container-left {
    width: 50%;
  }

  .newsletter-container-left h3 {
    font-family: var(--headings-font);
    font-size: 35px;
    padding-bottom: 25px;
  }

  .newsletter-container-left p {
    font-family: var(--body-font);
    font-size: 18px;
  }

  .newsletter-container-right {
    margin-left: 150px;
  }

  .newsletter-container-right input {
    width: 400px;
    height: 45px;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    margin-bottom: 15px;
  
  }

  .newsletter-container-right button {
    height: 45px;
    width: 175px;  
    background-color: var(--bright-blue);
    border: 1px solid var(--bright-blue);
    box-shadow: 0 2px 6px 0 hsl(120, 1%, 27%);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }

  .newsletter-container-right button:hover {
    cursor: pointer;
    color: #fff;
    border: 1px solid hsl(224, 76%, 67%);
    background-color: hsl(224, 76%, 67%);
    transition: ease-in;
    transition-delay: 0.3;
  }

  .footer-body {
    width: 100%;
    background-color: var(--very-dark-blue);
  }
 

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    padding: 80px 150px 80px 150px;
    color: #fff;
  }

  .footer-svg {
    filter: invert(50%);
  }

  .footer-one {
    margin-bottom: 15px;
  }

  .footer-two {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: var(--body-font);
    font-size: 15px;
  }

  .footer-two a {
    font-family: var(--body-font);
    color: #fff;
    text-decoration: none;
  }

  .footer-two a:hover {
    color: var(--bright-blue);
    cursor: pointer;
  }

  .quick-contact p, .about-us p, .contact-us p {
    margin-bottom: 15px;
  }

  .quick-contact img {
    padding-right: 15px;
  }

  .social-links span {
    padding-right: 10px;
  }

  .social-links span i {
    height: 35px;
    width: 35px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 10px 0 10px 0;
}

.social-links span i:hover {
    color: var(--bright-blue);
    border: 2px solid var(--bright-blue);
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    body {
        /* width: 100%; */
        height: 100vh;
        margin: 0px;
        justify-content: center;
        align-items: center;
      }

    .body-style {
        display: flex;
        max-width: 94vw;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
      }

      .navbar {
        display: flex;
        max-width: 90vw;
        justify-content: space-between;
        padding: 30px 15px 30px 15px;
    
      }

      .navbar img {
       width: 90px;
       height: 30px;
      }

      .menus {
        display: flex;
        align-items: center;
        font-size: 12px;
        }
      
        .menus ul > li {
            display: inline-block;
            margin-left: 10px;
          }

          .top-container {
            display: flex;
            flex-direction: column;
            max-width: 90vw;
            margin: auto;
            align-items: center;
            align-content: center;
            padding: 0 15px 15px 15px;

          }
        
          .top-container-left {
            padding: 30px 15px 30px 15px;
            width: 90vw;
          }
        
          .top-container-left h1 {
            font-family: var(--headings-font);
            margin-bottom: 25px;
            color: var(--very-dark-blue);
            font-size: 24px;
            text-align: center;
          }
        
          .top-container-left p {
            font-family: var(--body-font);
            color: var(--very-dark-blue);
            font-size: 14px;
            font-weight: bold;
            text-align: center;
          }

          .top-container-right {
            order: -1;
            width: 80vw;
            height: 250px;
            background: url('./images/illustration-1.svg');
            background-repeat: no-repeat;
            background-size: 100%;
          }

          .form-get-started {
            width: 80vw;
            margin: auto;
            justify-content: space-between;
            align-items: center;
            align-content: center;
          }
        
          .form-get-started input {
            width: 80vw;
            
          }
        
          .form-get-started button {
            width: 80vw; 
        }

        .curve-bg {
            width: 100%;
            background: url('./images/bg-curve-mobile.svg');
            background-repeat: no-repeat;
            background-position: top;
            background-image: 100%;
            background-size: cover;
            height: 100px;
            display: flex;
            margin-top: 30px;
        }

        .middle-body {
            width: 100%;
            background-color: var(--light-grayish-blue);
        }
        
        .mid-container {
            display: flex;
            flex-direction: column;
            width: 100vw;
            max-width: 1440px;
            margin: auto;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            padding: 0 15px 15px 15px;
          }

          .mid-container-right {
            order: -1;
            width: 80vw;
            height: 250px;
            background: url('./images/illustration-2.svg');
            background-repeat: no-repeat;
            background-size: 100%;
          }
        
          .mid-container-left {
            width: 80vw;
            padding: 5px 0 5px 0;
          }
        
          .mid-container-left h2 {
            margin-bottom: 25px;
            font-size: 15px;
            text-align: center;
            font-weight: bolder;
          }
        
          .mid-container-left-inset {
            color: var(--desaturated-blue);
            font-size: 13px;
            font-weight: lighter;
            padding-right: 1px;
          }
        
          .mid-container-left-link {
            margin: auto;
            width: 42vw;
            padding-top: 10px;
            font-weight: normal;
            padding-bottom: 4px;
            font-size: 14px;
          }
        
          .mid-container-left-link img {
            height: 20px;
            width: 20px;
            margin-left: 10px;
          }
        
          .quote-container {
            display: flex;
            margin: auto;
            flex-direction: column;
            background-color: #ffffff;
            width: 80vw;
            border-radius: 5px;
            margin-top: 40px;
            padding: 30px 40px 20px 30px;
          }

          .quote-icon img {
            height: 15px;
            width: 15px;
          }

        
          .quote-container p {
            font-size: 10px;
            line-height: 1.5;
            font-weight: normal;
          }

          .quoter-box {
            width: 80vw;
            padding-top: 5px;
          }
        
          .quoter {
            justify-content: center;
            align-items: center;
          }
        
          .quoter img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
          }
        
          .quotes {
            justify-content: center;
            align-items: center;
          }
        
          .quoters-name {
            font-size: 10px;
            font-weight: bold;
          }
        
          .quoters-title {
            font-size: 8px;
            font-weight: bold;
            }

            .newsletter-body {
                width: 100%;
                background-color: var(--desaturated-blue);
              }
             
              .newsletter-container {
                display: flex;
                width: 90vw;
                flex-direction: column;
                margin: auto;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                padding: 100px 150px 80px 150px;
                color: #fff;
              }
             
              .newsletter-container-left {
                width: 80vw;
                padding-bottom: 15px;
              }
            
              .newsletter-container-left h3 {
                font-size: 20px;
                padding-bottom: 15px;
                text-align: center;
              }
            
              .newsletter-container-left p {
                font-size: 14px;
                text-align: center;
                padding-bottom: 15px;
              }
            
              .newsletter-container-right {
                width: 80vw;
                margin-left: 0px;
                padding-bottom: 5px;
              }
            
              .newsletter-container-right input {
                width: 80vw;
                height: 45px;
              }
            
              .newsletter-container-right button {
                height: 45px;
                width: 80vw; 
              }
        
              .footer-body {
                width: 100%;
                display: flex;
                flex-direction: column;
              }

              .footer-container {
                display: flex;
                flex-direction: column;
                width: 80vw;
                justify-content: space-between;
                padding: 50px 10px 10px 10px;
                color: #fff;
              }

              .footer-svg {
                width: 175px;
                height: 55px;
              }

              .footer-one {
                margin-bottom: 30px;
              }

              .footer-two {
                display: flex;
                flex-direction: column;
              }

              .quick-contact, .about-us, .contact-us {
                margin-bottom: 25px;
              }

              .social-links {
                display: flex;
                justify-content: center;
                width: 80vw;
                margin-bottom: 40px;
              }

}
